.{
margin: 0;
padding: 0;
box-sizing: border-box;

}
header{
width: 100%;
height: 100vh;

background-image: linear-gradient(
    rgba(97, 47, 18, 0.692),
    rgba(97, 47, 18, 0.692)
    
),
url("sweet rice.jpg");
background-size: cover;
background-position: center;

}
.navbar{
height: 10%;

display: flex;
}
.nav-left{
flex-basis: 30%;
background: white;
position: relative;
}
.nav-icons{
left: 5%;
top: 10%;

position: absolute;

}


.nav-icons ul li{
display: inline-block;
margin right: 15px;
}

.nav-icons ul li i {
color: gray;

}




.nav-right{
    flex-basis: 70%;
position: relative;
}
.nav-menu{
top: 20%;
right: 2%;
position: absolute;
}

.nav-menu ul li {
    display: inline-block;
    margin-left: 15px;
}
.nav-menu ul li a{
text-decoration: none;
color: white;
}
.nav-menu ul li a:hover{
    border-bottom: 1px solid white;
    padding-bottom: 5px;

}
.logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
}
.content{
height: 90%;
display: flex;
}
.content-left{
flex-basis: 30%;
background: white;
position: relative;
}
.socialmedia{
    left: 5%;
    bottom: 5%;
    position: absolute;
}
.socialmedia ul li{
    list-style: none;
    height: 30px;
    width: 30px;
    margin: 10px;
background: gray;
text-align: center;
line-height: 30px;
}

.socialmedia ul li i{

    color: beige;
}

.socialmedia ul li i:hover{
    color: blue;
}


.content-right{
flex-basis: 70%;
background: ;
}
.text{
    right: 10%;
    bottom: 15%;
position: absolute;
}


.text h1  {
color: white;
font-family: 'Dancing Script', cursive;
font-size: 60px;
}
.text p{
color: white;
font-family: 'Dancing Script', cursive;
font-size: 40px;
}
@media screen and(min-width:480px) {

    
}